h1{
    font-style: italic;
    font-size: 50px;  
}

body{
    margin: 200px;
    text-align: center;
    background-color: lightsalmon;
}

img{
    height:350px;
    border-radius: 20px;
}

p{
    font-style: oblique;
    
}

div{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    gap: 30px;
    font-size: 35px;
    font-weight: 500;
}
h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 35px;
    width: auto;
}